<div class="container">

    <!--row of information and logo-->
    <div class="row">
        <!--The left side of the contact informations-->
        <div class="col-6 mt-4 phone_no position-relative" style="letter-spacing: 3px;">
            <ul class="list-group bg-transparent vertical-center">
                <!--facebook item-->
                <li class="list-group-item bg-transparent border-0">
                    <a href="https://www.facebook.com/hossam.sherif.28/" class="text-white">
                        <i class="fab fa-facebook mr-sm-2"></i>
                        <strong class="small">FaceBook</strong>
                    </a>
                </li>
                <!--github item-->
                <li class="list-group-item bg-transparent border-0">
                    <a href="https://github.com/husam287" class="text-white">
                        <i class="fab fa-github mr-sm-2"></i>
                        <strong class="small">Github</strong>
                    </a>

                </li>
                <!--Phone item-->
                <li class="list-group-item text-white bg-transparent border-0">
                    <i class="fas fa-phone-alt mr-sm-2"></i>
                    <strong class="small">01129000383<span class="color-pink-light"> - </span>01068642735</strong>
                </li>
            </ul>
        </div>
        <!--The Logoooo-->
        <div class="col-6 text-center d-inline-block mt-4 position-relative border-left">
            <img src="assets/photos/logo.png" class="rounded-circle mx-auto mb-2" width="130px" height="130px" 
            style="text-align: left;">
            <h4 class="text-light text-left d-inline-block align-middle  pl-2 text-center text-justify" data-aos="fade-right">SocialMemes
                <br> Move beyond ordinary Social Media</h4>
        </div>
    </div>


    <!--row for copyright-->
    <div class="row">
        <div class="col-12 text-light text-center mt-2">
            <small style="letter-spacing: 3px;">
                <span class="text-light">♥</span>
                All &copy;
                copyrights 2020 are reserved to
                <strong>Hossam Sherif </strong>
                <span class="text-light">♥</span>
            </small>
        </div>
    </div>
</div>