.form-group span{
    position: absolute;
    top: 0;
    left:0.8rem;
}

i{
    position: absolute;
    bottom: 3px;
    right: 10px;
}

/*To hide the password show eye*/
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}