
  <nav class="navbar navbar-expand-lg navbar-dark bg-red-dark rounded row position-relative">
	<div class="navbar-brand pt-0 position-relative col-4 col-md-2 text-center ">
		<img class="rounded-circle d-block my-auto mx-auto" src="assets/photos/logo.png" alt="socialmedia-logo" width="70px" height="70px">
		<span>Social Media</span>
	</div>
	
		<ul class="navbar-nav d-inline-block col-12 col-md-8 mx-auto pr-0 text-center customOrder">
					<!--Posts-->
			<li class="nav-item my-auto d-inline-block mx-3">
				<a class="nav-link color-pink-light" [routerLink]="['/home']" routerLinkActive="routeActive" [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-newspaper fa-3x "><!--Home--></i></a>
			</li>
					<!--Memes-->
			<li class="nav-item my-auto d-inline-block mx-3">
				<a class="nav-link color-pink-light" [routerLink]="['/home','memes']" routerLinkActive="routeActive"><i class="fas fa-grin-squint-tears fa-3x"></i><!--memes--></a>
			</li>
					<!--People-->
			<li class="nav-item my-auto d-inline-block mx-3">
				<a class="nav-link color-pink-light" [routerLink]="['/users']" routerLinkActive="routeActive"><i class="fas fa-users fa-3x"></i><!--people--></a>
			</li>
			
		</ul>
				<!--profile management-->
	  <ul class="list-unstyled col-4 col-md-2">
		<li class="nav-item dropdown position-relative mt-2">
		  <a class="dropdown-toggle text-light text-center w-100" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<div>
				<img [src]="domain+userData.image" alt="user-photo" width="70px" height="70px" class="d-block mx-auto rounded-circle">
				<span>{{userData.name}}</span> <span><i class="fas fa-chevron-circle-down ml-1"></i></span>
			</div>
		  </a>
		  <div class="dropdown-menu"  aria-labelledby="navbarDropdownMenuLink">
			<a class="dropdown-item" href="#">Profile</a>
			<a class="dropdown-item" href="#">Setting</a>
			<a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
		  </div>
		</li>
	  </ul>
  </nav>