<!-- ##### Comment Owner Data ##### -->
<div class="row mb-2">
    <div class="col-12">
        <a class="text-decoration-none" [routerLink]="['/users',commentData.commentOwner._id]">
            <!-- image -->
            <img class="rounded-circle d-inline-block reddyShadow" [src]="commentData.commentOwner.image"
                alt="Comment owner photo" height="40px" width="40px">
            <!-- name -->
            <h6 class="d-inline-block ml-2 color-red-light hoverFix">{{commentData.commentOwner.name}}</h6>
        </a>
    </div>
</div>


<!-- ##### Comment Content ##### -->
<div class="row">
    <div class="col-12">
        <small class="text-center normalText w-100 text-break">{{commentData.commentContent}}</small>
        <hr>
    </div>
</div>



