<div class="container">
    <!-- ##### Users Section ##### -->
    <div *ngIf="!errorMessage" class="row mt-4">
        <div  *ngFor="let user of users" class="col-12 col-sm-8 mx-auto my-2">
            <app-user [userData]="user"></app-user>
        </div>
    </div>

    <!-- ##### Error Message ##### -->
    <div *ngIf="errorMessage" class="row mt-5">
        <div class="col-12">
            <app-error-message [errorMessage]="errorMessage"></app-error-message>
        </div>
    </div>
</div>