<app-error-message [errorMessage]="errorMessage"></app-error-message>

<div *ngIf="editMode">
    <app-add-post [editMode]="editMode" [defulatData]="postData"></app-add-post>
</div>


<div *ngIf="postData && !editMode" class="row  postSeparate">
    <section class="col-12 card position-relative bg-grey pt-2 post">

        <!-- ##### Creator Part ##### -->
        <!-- Creator Image -->
        <img class="rounded-circle adjustImagePosition reddyShadow " [src]="domain+postData.creator.image"
            style="cursor: pointer;" [routerLink]="['/users',postData.creator._id]" alt="post creator image"
            width="70px" height="70px">
        <!-- Creator Name -->
        <div class=" adjustNamePosition">
            <a class="h5 pt-2 pl-3 color-red-light" style="cursor: pointer;"
                [routerLink]="['/users',postData.creator._id]">{{postData.creator.name}}
            </a>

        </div>

        <!-- ##### Creator Part ##### -->
        <app-post-list [postId]="postData._id" class="position-absolute" style="right: 0rem; top: 0.2rem;">
        </app-post-list>

        <!--##### Post Body #####-->
        <div class="card-body text-center scrollable p-2" style="max-height: 30vh;">
            <p class="card-text normalText text-break text-justify multiLine">{{postData.content}}</p>
        </div>


        <!-- ##### Time of the Post #####-->
        <p class="card-text  mb-0 text-center"><small class="text-muted normalText">created {{postData.timeOfPost}}
                ago</small></p>


        <!--##### Clickable Post's Image to open modal #####-->
        <a *ngIf="postData.image" data-toggle="modal" [attr.data-target]="'#id'+ postData._id" style="cursor: pointer;">
            <!-- Image of the Post -->
            <img class="card-img-bottom" [src]="domain+postData.image" alt="post photo">
        </a>
        <!--photo Modal-->
        <div class="modal fade" style="height: 100vh; width: 100vw;" [attr.id]="'id'+postData._id" tabindex="-1"
            aria-labelledby="openPhotoLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <!-- close button -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!-- Opened Image -->
                        <img class="card-img-bottom" [src]="postData.image? domain+postData.image:''" alt="post photo"
                            style="height: 90vh;width: auto;">
                    </div>
                </div>
            </div>
        </div>


        <!-- ##### Like and Comment part ##### -->
        <div class="row mt-5">
            <!-- comments and likes numbers -->
            <div class="col-12 mb-2 text-center">
                <span class="mx-1" data-toggle="modal" [attr.data-target]="'#likelist'+ postData._id"
                    style="cursor: pointer;">
                    <i class="fas fa-thumbs-up color-pink-dark"></i>
                    <span class="color-red-dark">
                        [ {{postData.likes.length}} ]
                    </span>
                </span>
                <span class="mx-1" (click)="showComments()" style="cursor: pointer;">
                    <i class="fas fa-comment color-pink-dark"></i>
                    <span class="color-red-dark">
                        [ {{postData.comments.length}} ]
                    </span>
                </span>
            </div>
            <!-- comments and likes buttons -->
            <div class="col-6 p-0">
                <button class="btn btn-block bg-red-dark text-center text-light"
                    (click)="likeOrUnlike(postData._id)">{{liked? 'unlike':'like'}}</button>
            </div>
            <div class="col-6 p-0">
                <button class="btn btn-block bg-pink-dark text-center text-dark"
                    (click)="showComments()">Comment</button>
            </div>
        </div>


        <!-- ##### Comments (Appears when comment is clicked)##### -->
        <section [ngClass]="commentsIsShow? 'showComments':'hideComments'" class="comments">
            <app-comments [comments]="postData.comments" [postId]="postData._id"></app-comments>
        </section>


        <!-- ##### like list model #####-->
        <div class="modal fade" style="height: 100vh; width: 100vw;" [attr.id]="'likelist'+postData._id" tabindex="-1"
            aria-labelledby="openPhotoLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <!-- close button -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!-- Header of the likes -->
                        <h6 class="modal-header text-center">Likes List</h6>
                        <div class="modal-content ">
                            <app-likes [likes]="postData.likes"></app-likes>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>