<div class="list-group scrollable" style=" max-height: 70vh;">
    <a *ngFor="let user of likes" data-dismiss="modal"
        [routerLink]="['/users',user._id]"
        class="list-group-item list-group-item-action text-left">
        <!-- Creator Image -->
        <img class="rounded-circle reddyShadow " [src]="user.image"
            style="cursor: pointer;" alt="post creator image" width="70px" height="70px">
        <!-- Creator Name -->
        <a class="h5 pt-2 pl-3 color-red-light hoverFix"
            style="cursor: pointer;">{{user.name}}</a>
    </a>

</div>