.borderPink{
    border-bottom: 1px double #e6b884;
}

.responsiveImage{
    width: 17vw;
    height: 17vw;
}

.editIconPosition{
    position: absolute;
    top: 1rem;
    right: 0.5rem;

}
a{
    cursor: pointer;
}

@media only screen and (max-width:575.5px){
    .responsiveImage{
        width: 25vw;
        height: 25vw;
        margin-bottom: 1rem;
    }
}


