<div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Changing Password
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- ##### Form To change password ##### -->
            <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm)">
                <div class="modal-body text-c">
                    <!-- old password -->
                    <div class="form-group position-relative">
                        <input class="form-control normalText" type="password" name="oldPassword" ngModel
                            #oldPassword="ngModel" placeholder="old password" required>
                            <!-- feedback icons -->
                        <i [ngClass]="oldPassword.touched&&oldPassword.valid? '':'d-none'" class="far fa-check-circle fa-2x text-success"></i><!--Right icon-->
                        <i [ngClass]="oldPassword.touched&&!oldPassword.valid? '':'d-none'" class="far fa-times-circle fa-2x text-danger"></i><!--Wrong icon-->
                    </div>
                    <!-- new password -->
                    <div class="form-group position-relative">
                        <input class="form-control normalText" type="password" name="newPassword" ngModel
                            #newPassword="ngModel" placeholder="new password" required>
                            <i [ngClass]="newPassword.touched&&newPassword.valid? '':'d-none'" class="far fa-check-circle fa-2x text-success"></i><!--Right icon-->
                            <i [ngClass]="newPassword.touched&&!newPassword.valid? '':'d-none'" class="far fa-times-circle fa-2x text-danger"></i><!--Wrong icon-->
                    </div>
                    <!-- new password confirmation -->
                    <div class="form-group position-relative">
                        <input class="form-control normalText" type="password" name="confirmPassword" ngModel
                            #confirmPassword="ngModel" placeholder="confirm new password" required>
                        <!-- feedback icons -->
                        <i [ngClass]="confirmPassword.touched&&confirmPassword.valid&&(confirmPassword.value==newPassword.value)? '':'d-none'" class="far fa-check-circle fa-2x text-success"></i><!--Right icon-->
                        <i [ngClass]="confirmPassword.touched&&(!confirmPassword.valid||(confirmPassword.value!==newPassword.value))? '':'d-none'" class="far fa-times-circle fa-2x text-danger"></i><!--Wrong icon-->
                    </div>

                    <!-- Feddback messages -->
                    <app-success-message [successMessage]="successMessage"></app-success-message>
                    <app-error-message [errorMessage]="errorMessage"></app-error-message>
                </div>
                <div class="modal-footer">
                    <!-- buttons -->
                    <button type="button" class="btn btn-danger" type="submit" [disabled]="!changePasswordForm.valid || (changePasswordForm.value.newPassword!==changePasswordForm.value.confirmPassword)">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>