/* You can add global styles to this file, and also import other style files */

/*
colors:


pink-dark-color: #e6b884
pink-light-color: #ecc8a0
red-dark-color: #b4583f
red-light-color: #c36a52



*/


*{
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Staatliches', cursive;
}


.vertical-center{
    position: absolute;
    top: 50% ;
    transform: translateY(-50%) ; 
}

.bg-pink-light{
    background-color:#ecc8a0 ;
 
}
.bg-pink-light:hover,.bg-pink-light:focus{
    background-color:#e6b884 ;
 
}

.color-pink-light{
    color:#ecc8a0;
}
.color-pink-light:hover,.color-pink-light:focus{
    color:#e6b884;
}

.bg-pink-dark{
    background-color:#e6b884 ;
}
.bg-pink-dark:hover,.bg-pink-dark:focus{
    background-color:#ecc8a0 ;
}

.color-pink-dark{
    color:#e6b884
}
.color-pink-dark:hover,.color-pink-dark:focus{
    color:#ecc8a0
}

.bg-red-dark{
    
    background-color: #b4583f ;
}
.bg-red-dark:hover,.bg-red-dark:focus{
    
    background-color: #c36a52 ;
}

.color-red-dark{
    color: #b4583f;
}
.color-red-dark:hover,.color-red-dark:focus{
    color: #c36a52;
}

.bg-red-light{   
    background-color: #c36a52 ;
}
.bg-red-light:hover,.bg-red-light:focus{   
    background-color: #b4583f ;
}

.color-red-light{
    color: #c36a52;
}
.color-red-light:hover,.color-red-light:focus{
    color: #b4583f;
}

.border-red-light{
    border: #b4583f solid 1px;
    
}

.normalText{
    font-family: 'Indie Flower', cursive; 
    font-weight: bolder;
    letter-spacing: 1px;
}

.reddyShadow{
    box-shadow: 0px 0px 10px 0px #b4583f;
    
}


.bg-grey{
    background-color: ghostwhite;
    
}

.scrollable{
    overflow-y: scroll; 
    max-height: 261.11px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable::-webkit-scrollbar {
    width: 0.2rem;
    background-color: #b4583f;
  }
  .scrollable::-webkit-scrollbar-thumb {
    background: #888;
  }