<div class="row mx-auto userCard position-relative" [routerLink]="[userData._id]" style="cursor: pointer;">
    <div>
        <img class="rounded-circle ml-2" src="assets/photos/unknown.png" alt="ProfilePic" height="100px" width="100px">
        <!-- {{userData.name}} --><a class="h3 text-decoration-none ml-2 text-dark vertical-center">Hossam
            Sherif</a>
    </div>

    <div class="vertical-center mr-2" style="right: 0px;">
        <div>
            <i class="fas fa-newspaper mr-3"></i> <span class="badge badge-light">12</span>
        </div>
        <div>
            <i class="fas fa-grin-squint-tears mr-3"></i> <span class="badge badge-light">7</span>
        </div>
    </div>
</div>